<article>
    <div class="user-content">
        <p>User Name: {{Posts.[0].user.username}}</p>
        <h2>Post Title: {{Posts.[1] | capitalize}}</h2>
        <hr />
        <!--edit Info -->
        {% if Posts.[0].user._id == user._id %}
        <button id='editBtn' onclick=location.href="/post/{{Posts.[0
        ]._id}}/update" class="btn btn-primary">Edit Post Information</button
        ><br/><br/>
    </div>
</article>