<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewpoint" content="width=device-width, initial-scale =1.0" />
    <title>Tech_Blog</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="/">Home</a>
        <nav>
          {{#if logged_In}}
            <a href="/dashboard">DashBoard</a>
            <a href="/logout" id="logout">Logout</a>
            |
            <a href="/profile">Profile</a>
            |
            <a href="/post">Write a Post</a>
          {{else}}
            <a href="/login">Login</a>
          {{/if}}
        </nav>
      </header>
      <div class="site-row">
        <section id="main">
          <h1>
            <a href="/">Techie Blog</a>
          </h1>
          {{!base}}
        </section>

      </div>
      <main>
        <aside>
          {{{body}}}
        </aside>
      </main>
    </div>
    {{!-- {{#if logged_In}} --}}
    <script scr="/js/logout.js"></script>
    {{!-- {{/if}} --}}
  </body>
</html>