<section class="login_pg">
  <div class="formHead">
    <h2>Login</h2>
  </div>
  <div class="sect_form">
    <form>
      <div>
        <label for="userName_login">Username</label>
        <input
          type="text"
          class="text-field"
          id="userName_login"
          name="username"
          required
        />
      </div>
      <div>
        <label for="passWord_login">Password</label>
        <input
          type="password"
          class="text-field"
          id="passWord_login"
          name="password"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary login-sign-up-btn">Log in</button>
    </form>
  </div>
  <a href="/signup" class="signup-link">signup Already?</a>
</section>
<script scr="/js/login.js"></script>