<section class="sign_up">
  <div class="formHead">
    <h1>
      Sign Up
    </h1>
  </div>
  <div class="sect_form">
    <form id="sign_up_form">
      <div>
        <label for="username">Choose a Username</label>
        <input type="text" name="username" id="username" />
      </div>
      <div>
        <label for="email-sign">Email Address:</label>
        <input
          type="email"
          id="email-sign"
          placeholder="example@domain.com"
          required
        />
      </div>
      <div>
        <label for="passWord">Password: (8-20 characters)</label>
        <input
          type="password"
          name="pwd"
          id="passWord"
          pattern=".{8,20}"
          title="Must be between 8 and 20 characters"
          required
        />
      </div>
      <button type="submit">Sign Up</button>
    </form>
  </div>
  <a href="/login">Login already?</a>
</section>
<script src="/js/signup.js"></script>